{% extends 'hod_template/base_template.html' %}
{% block page_title %} 
Ajouter Cotisation
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                    <!-- general form elements -->
                <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Ajouter Cotisation</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form role="form" action="/add_cotisation_save" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                          <div class="form-group">
                                <label >Membre</label>
                                <select class="form-control"   name="membre">
                                    {% for membre in membre_info %}
                                    <option value="{{ membre.id }}">{{ membre.prenomp }} {{ membre.nomp }}</option>
                                    {% endfor %}
    
                                </select>
                          </div>

                          <div class="form-group">
                            <label>Type Cotisation</label>
                            <select class="form-control"   name="type_cotisation">
                                    <option value="Fond de Credit">Fond de Credit</option>
                                    <option value="Fond de Fonctionnement">Fond de Fonctionnement</option>
                                    <option value="Fond d'Urgence">Fond d'Urgence</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Montant</label>
                            <input type="text" class="form-control" name="montant_cotis" placeholder="Entrer le montant">
                          </div>
                          <div class="form-group">
                            <label>Interet</label>
                            <input type="text" class="form-control" name="interet_" placeholder="Entrer l'interet ">
                          </div>
                          <div class="form-group">
                            <label>Balance</label>
                            <input type="text" class="form-control" name="balance" placeholder="Entrer la balance">
                          </div>
                          <div class="form-group">
                            <label>Date Fait</label>
                            <input type="date" class="form-control" name="date_fait" placeholder="Entrer la Date">
                          </div>
                          
                          <div class="form-group">
                            <label>Penalite</label>
                            <input type="text" class="form-control" name="penalite_" placeholder="Entrer le montant">
                          </div>
                          
                          <div class="form-group">
                            {% if messages %}
                            <div class="col-12">
                              {% for message in messages %}
                              {% if message.tags == 'error' %}
                              <div class="alert alert-danger" style="margin-top:10px ;">{{ message }}</div>
                              {% endif %}
                              {% if message.tags == 'success' %}
                              <div class="alert alert-success" style="margin-top:10px ;">{{ message }}</div>
                              {% endif %}
                              {% endfor %}
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        <!-- /.card-body -->
        
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary btn-block">Add Cotisation</button>
                        </div>
                      </form>
                </div>
                    <!-- /.card -->
              </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
      {% endblock main_content %}