{% extends 'hod_template/base_template.html' %}
{% block page_title %} 
Edit Profile
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                    <!-- general form elements -->
                <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Edit Profile</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form role="form" action="/edit_muso_save" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                          <div class="form-group">
                            <label>Code Muso</label>
                            <input type="text" class="form-control" name="code_muso" value="{{ muso.id }}" disabled="disabled">
                          </div>
                          <div class="form-group">
                            <label>Sigle</label>
                            <input type="text" class="form-control" name="sigle" value="{{ muso.sigle }}" disabled="disabled">
                          </div>
                          <div class="form-group">
                            <label>Nom Muso</label>
                            <input type="text" class="form-control" name="muso_name" value="{{ muso.nom_muso }}">
                          </div>
                          <div class="form-group">
                            <label>Adresse Muso</label>
                            <input type="text" class="form-control" name="adresse_muso" value="{{ muso.adresse_muso }}">
                          </div>

                          <div class="form-group">
                            <label>Telephone Muso</label>
                            <input type="text" class="form-control" name="tetlephone_muso" value="{{ muso.telephone_muso }}">
                          </div>

                          <div class="form-group">
                            <label>Site Web</label>
                            <input type="text" class="form-control" name="site_muso" value="{{ muso.site_muso }}">
                          </div>
                         
                          <div class="form-group">
                            <label>Date Creation</label>
                            <input type="text" class="form-control" name="date_creation" value="{{ muso.date_creation }}">
                          </div>

                          <div class="form-group">
                            <label>Couleur Menu de gauche</label>
                            <select id="colorSelect" name="colorSelect" ></select>
                          </div>

                          <div class="form-group">
                            <label>Taux Interet Credit</label>
                            <input type="text" class="form-control" name="taux_interet" value="{{ muso.taux_interet }}">
                          </div>

                          <div class="form-group">
                            <label>Couleur Text Menu</label>
                            <select id="colorSelecttext" name="colorSelecttext"></select>
                          </div>

                          <div class="form-group">
                            {% if messages %}
                            <div class="col-12">
                              {% for message in messages %}
                              {% if message.tags == 'error' %}
                              <div class="alert alert-danger" style="margin-top:10px ;">{{ message }}</div>
                              {% endif %}
                              {% if message.tags == 'success' %}
                              <div class="alert alert-success" style="margin-top:10px ;">{{ message }}</div>
                              {% endif %}
                              {% endfor %}
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        <!-- /.card-body -->
        
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary btn-block">Save Modification</button>
                        </div>
                      </form>
                </div>
                    <!-- /.card -->
              </div>
          </div>
        </div>
      </section>
      <!-- /.content -->

      {% endblock main_content %}
{% block custom_js %}
<script>
      
      const colorSelect = document.getElementById('colorSelect');
      const colors = [
        '#ff0000', '#00ff00', '#0000ff', '#ffff00', '#ff00ff', '#00ffff',
        '#800000', '#008000', '#000080', '#808000', '#800080', '#008080',
        '#ff8000', '#8000ff', '#00ff80', '#ff0080', '#80ff00', '#0080ff',
        '#ff8080', '#ffffff'
      ];

      for (let i = 0; i < colors.length; i++) {
        const colorOption = document.createElement('option');
        colorOption.value = colors[i];
        colorOption.style.backgroundColor = colors[i];
        colorSelect.appendChild(colorOption);
      }
      colorSelect.value = '#ff0000'; // Définit la couleur rouge comme valeur par défaut
</script>

<script>
  const colorSelecttext = document.getElementById('colorSelecttext');
  const colorstext = [
    '#ff0000', '#00ff00', '#0000ff', '#ffff00', '#ff00ff', '#00ffff',
    '#800000', '#008000', '#000080', '#808000', '#800080', '#008080',
    '#ff8000', '#8000ff', '#00ff80', '#ff0080', '#80ff00', '#0080ff',
    '#ff8080', '#ffffff'
  ];

  for (let i = 0; i < colors.length; i++) {
    const colorOption = document.createElement('option');
    colorOption.value = colorstext[i];
    colorOption.style.backgroundColor = colorstext[i];
    colorSelecttext.appendChild(colorOption);
  }
  colorSelect.value = '#ff0000'; // Définit la couleur rouge comme valeur par défaut
</script>
{% endblock custom_js %}