{% extends 'hod_template/base_template.html' %}
{% block page_title %} 
Edit INFO MUSO
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                    <!-- general form elements -->
                <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Edit Information Muso</h3>
                      </div>
                        <form method="POST">
                            {% csrf_token %}
                            <label for="codemuso">CODE MUSO</label>
                            <input type="text" name="codemuso" value="{{ instance.codemuso }}">
                            
                            <label for="sigle">SIGLE</label>
                            <input type="text" name="sigle" value="{{ instance.sigle }}">
                            
                            <label for="nom_muso">NOM</label>
                            <input type="text" name="nom_muso" value="{{ instance.nom_muso }}">
                            
                            <label for="adresse_muso">ADRESSE</label>
                            <input type="text" name="adresse_muso" value="{{ instance.adresse_muso }}">
                            
                            <label for="telephone_muso">TELEPHONE</label>
                            <input type="text" name="telephone_muso" value="{{ instance.telephone_muso }}">
                            
                            <label for="email_muso">EMAIL</label>
                            <input type="text" name="email_muso" value="{{ instance.email_muso }}">
                            
                            <label for="site_muso">SITE</label>
                            <input type="text" name="site_muso" value="{{ instance.site_muso }}">
                            
                            <label for="couleur_preferee">Couleur Preferee</label>
                            <input type="text" name="couleur_preferee" value="{{ instance.couleur_preferee }}">
                            
                            <label for="taux_interet">Taux Interet</label>
                            <input type="text" name="taux_interet" value="{{ instance.taux_interet }}">
                            
                            <label for="couleur_text_menu">Couleur Preferee</label>
                            <input type="text" name="couleur_text_menu" value="{{ instance.couleur_text_menu }}">
                            
                            <label for="date_creation">Date Creation</label>
                            <input type="text" name="date_creation" value="{{ instance.date_creation }}">
                            
                            <button type="submit">Save</button>
                        </form>
                    </div>
                    <!-- /.card -->
              </div>
          </div>
        </div>
      </section>
      <!-- /.content -->

{% endblock main_content %}