{% extends 'hod_template/base_template.html' %}
{% block page_title %} 
Edit INFO MUSO
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                    <!-- general form elements -->
                <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Edit Information Muso</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->  
                      <form role="form" action="{% url 'edit_muso_save' %}" method="post">
                        {% csrf_token %}
                      
                        <div class="card-body">
                          <div class="form-group">
                            <label>Code Muso</label>
                            <input type="text" class="form-control" name="code_muso" value="{{ muso.id }}" readonly>
                          </div>
                          <div class="form-group">
                            <label>Sigle</label>
                            <input type="text" class="form-control" name="sigle" value="{{ muso.sigle }}" readonly>
                          </div>
                          <div class="form-group">
                            <label>Nom Muso</label>
                            <input type="text" class="form-control" name="muso_name" value="{{ muso.nom_muso }}">
                          </div>
                          <div class="form-group">
                            <label>Adresse Muso</label>
                            <input type="text" class="form-control" name="adresse_muso" value="{{ muso.adresse_muso }}">
                          </div>

                          <div class="form-group">
                            <label>Telephone Muso</label>
                            <input type="text" class="form-control" name="tetlephone_muso" value="{{ muso.telephone_muso }}">
                          </div>

                          <div class="form-group">
                            <label>Site Web</label>
                            <input type="text" class="form-control" name="site_muso" value="{{ muso.site_muso }}">
                          </div>
                         
                          <div class="form-group">
                            <label>Date Creation</label>
                            <input type="text" class="form-control" name="date_creation" value="{{ muso.date_creation }}">
                          </div>

                          <div class="form-group">
                            <label>Couleur Menu de gauche</label>
                            <select class="form-control" id="colorSelect" name="colorSelect" ></select>
                          </div>

                          <div class="form-group">
                            <label>Taux Interet Credit</label>
                            <input type="text" class="form-control" name="taux_interet" value="{{ muso.taux_interet }}">
                          </div>

                          <div class="form-group">
                            <label>Couleur Text Menu</label>
                            <select class="form-control" id="colorSelecttext" name="colorSelecttext"></select>
                          </div>

                          <select class="form-control" id="colorSelect">
                            <option value="">Sélectionnez une couleur</option>
                            <option value="#ff0000" style="background-color: #ff0000;">Rouge</option>
                            <option value="#00ff00" style="background-color: #00ff00;">Vert</option>
                            <option value="#0000ff" style="background-color: #0000ff;">Bleu</option>
                            <option value="#ffff00" style="background-color: #ffff00;">Jaune</option>
                            <option value="#ff00ff" style="background-color: #ff00ff;">Magenta</option>
                            <option value="#00ffff" style="background-color: #00ffff;">Cyan</option>
                            <option value="#800000" style="background-color: #800000;">Marron</option>
                            <option value="#008000" style="background-color: #008000;">Vert foncé</option>
                            <option value="#000080" style="background-color: #000080;">Bleu foncé</option>
                            <option value="#808000" style="background-color: #808000;">Olive</option>
                            <option value="#800080" style="background-color: #800080;">Violet</option>
                            <option value="#008080" style="background-color: #008080;">Bleu-vert</option>
                            <option value="#ff8000" style="background-color: #ff8000;">Orange</option>
                            <option value="#8000ff" style="background-color: #8000ff;">Indigo</option>
                            <option value="#00ff80" style="background-color: #00ff80;">Turquoise</option>
                            <option value="#ff0080" style="background-color: #ff0080;">Rose</option>
                            <option value="#80ff00" style="background-color: #80ff00;">Citron vert</option>
                            <option value="#0080ff" style="background-color: #0080ff;">Bleu clair</option>
                            <option value="#ff8080" style="background-color: #ff8080;">Saumon</option>
                            <option value="#ffffff" style="background-color: #ffffff;">Blanc</option>
                            <option value="#000000" style="background-color: #000000; color: #ffffff;">Noir</option>
                            <option value="#ff9999" style="background-color: #ff9999;">Saumon clair</option>
                            <option value="#99ff99" style="background-color: #99ff99;">Vert clair</option>
                            <option value="#9999ff" style="background-color: #9999ff;">Bleu clair</option>
                            <option value="#ffff99" style="background-color: #ffff99;">Jaune clair</option>
                            <option value="#ff99ff" style="background-color: #ff99ff;">Rose clair</option>
                            <option value="#99ffff" style="background-color: #99ffff;">Turquoise clair</option>
                            <option value="#ffcc99" style="background-color: #ffcc99;">Pêche</option>
                            <option value="#ccff99" style="background-color: #ccff99;">Vert lime</option>
                          </select>

                          <div class="form-group">
                            {% if messages %}
                            <div class="col-12">
                              {% for message in messages %}
                              {% if message.tags == 'error' %}
                              <div class="alert alert-danger" style="margin-top:10px ;">{{ message }}</div>
                              {% endif %}
                              {% if message.tags == 'success' %}
                              <div class="alert alert-success" style="margin-top:10px ;">{{ message }}</div>
                              {% endif %}
                              {% endfor %}
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        <!-- /.card-body -->
        
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary btn-block">Save Modification</button>
                        </div>
                        
                      </form>
                </div>
                    <!-- /.card -->
              </div>
          </div>
        </div>
      </section>
      <!-- /.content -->

{% endblock main_content %}

{% block custom_js %}
<script>
      
      const colorSelect = document.getElementById('colorSelect');
      const colors = [
        '#ff0000', '#00ff00', '#0000ff', '#ffff00', '#ff00ff', '#00ffff',
        '#800000', '#008000', '#000080', '#808000', '#800080', '#008080',
        '#ff8000', '#8000ff', '#00ff80', '#ff0080', '#80ff00', '#0080ff',
        '#ff8080', '#ffffff'
      ];

      for (let i = 0; i < colors.length; i++) {
        const colorOption = document.createElement('option');
        colorOption.value = colors[i];
        colorOption.style.backgroundColor = colors[i];
        colorSelect.appendChild(colorOption);
      }
      colorSelect.value = '#ff0000'; // Définit la couleur rouge comme valeur par défaut
</script>

<script>
  const colorSelecttext = document.getElementById('colorSelecttext');
  const colorstext = [
    '#ff0000', '#00ff00', '#0000ff', '#ffff00', '#ff00ff', '#00ffff',
    '#800000', '#008000', '#000080', '#808000', '#800080', '#008080',
    '#ff8000', '#8000ff', '#00ff80', '#ff0080', '#80ff00', '#0080ff',
    '#ff8080', '#ffffff'
  ];

  for (let i = 0; i < colors.length; i++) {
    const colorOption = document.createElement('option');
    colorOption.value = colorstext[i];
    colorOption.style.backgroundColor = colorstext[i];
    colorSelecttext.appendChild(colorOption);
  }
  colorSelect.value = '#ff0000'; // Définit la couleur rouge comme valeur par défaut
</script>
{% endblock custom_js %}