{% extends 'hod_template/base_template.html' %}
{% block page_title %} 
Formulaire de Calculateur des dates de remboursement pour un pret  <a href="{% url 'export_detailcredit_csv' %}" class="btn btn-primary">Export to CSV</a>
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                  <!-- general form elements -->
              <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Calculatrice</h3>
                    </div>
                  <form method="post">
                      {% csrf_token %}
                      {% csrf_token %}
                      <div class="card-body">
                      <div class="form-group">
                      <label>TYPE DE CREDIT :</label>
                      <input type="radio"  name="choix_type" value="nouveau" checked> Nouveau Credit
                      <input type="radio"  name="choix_type" value="ancien"> Ancien Credit
                      </div>
                      <div class="card-body">
                        <div class="form-group">
                          <label >Code Pret:</label>
                          <input type="text" class="form-control" name="code_pret" id="numero_credit"><br>
                          </div>

                        <div class="form-group">
                      <label >Montant total du crédit:</label>
                      <input type="text" class="form-control" name="montant_credit" id="montant_credit" value="0"><br>
                      </div>

                      <div class="form-group">
                      <label >Nombre de mois:</label>
                      <input type="text" class="form-control" name="nombre_mois" id="nombre_mois" value="0"><br>
                      </div>

                      <div class="form-group">
                      <label >Date de début (jj/mm/aaaa):</label>
                      <input type="text" class="form-control" name="date_debut" id="date_debut" value="27/05/2023"><br>
                      </div>
                  
                      <div class="form-group">
                      <label>Intérêt:</label><br>
                      <input type="radio"  name="choix_interet" value="Fixe" checked> Fixe<br>
                      <input type="radio"  name="choix_interet" value="Variable"> Variable<br>
                      </div>

                      <div class="form-group">
                      <label >Taux d'intérêt (%):</label>
                      <input type="text" class="form-control" name="taux_interet" id="taux_interet" value="0"><br>
                      </div>

                      <div class="form-group">
                      <label >Montant d'intérêt:</label>
                      <input type="text" class="form-control" name="montant_interet" id="montant_interet" value="0"><br>
                      </div>

                      <div class="form-group">
                      <button type="submit">Calculer les paiements</button>
                      </div>
                  </div>
                  </form>
                  
                  <table>
                      <tr>
                          <th>Date</th>
                          <th>Capital</th>
                          <th>Intérêt</th>
                          <th>Total</th>
                          <th>Reste</th>
                      </tr>
                      {% for paiement in paiements %}
                      <tr>
                          <td>{{ paiement.date_pret }}</td>
                          <td>{{ paiement.montant_capital }}</td>
                          <td>{{ paiement.montant_interet }}</td>
                          <td>{{ paiement.total_montant_jr }}</td>
                          <td>{{ paiement.total_montant_rest }}</td>
                      </tr>
                      {% endfor %}
                  </table>
                
              </div>
              <!-- /.card -->
        </div>
    </div>
  </div>
</section>
      {% endblock main_content %}

      {% block custom_js %}
      <script>
        $(document).ready(function() {
          $('#numero_credit').on('input', function() {
            var codeCredit = $(this).val();
      
            $.ajax({
              url: 'get_credit_info',
              data: {
                'code_credit': codeCredit
              },
              dataType: 'json',
              success: function(data) {
                $('#montant_credit').val(data.montant_credit);
                $('#nombre_mois').val(data.duree);
                $('#date_debut').val(data.date_debut);
                $('#taux_interet').val(data.taux_interet);
              }
            });
          });
        });
      </script>
    {% endblock custom_js %}
     