{% extends 'hod_template/base_template.html' %}
{% block page_title %} 
Liste des Produits Alimentaire  <a href="{% url 'export_detailalimentaire_csv' %}" class="btn btn-primary">Export to CSV</a> <a href="{% url 'add_detailalimentaire' %}" class="btn btn-primary">Ajouter Detail Alimentaire</a>
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Credits Details: 
                       
                      </h3>
      
                      <div class="card-tools">
                      <form >
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="q" class="form-control float-right" placeholder="Search">
      
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            <a href="{% url 'manage_detailalimentaire' %}" class="btn btn-dark" style="margin-left: 2px";><i class="fas fa-sync-alt"></i></a>
                          </div>
                        </div>
                      </form>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>NO</th>
                            <th>DESIGNATION</th>
                            <th>QUANTITE</th>
                            <th>PRIX UNITAIRE</th>
                            <th>PRIX TOTAL</th>
                            <th>FRAIS TRANSPORT</th>
                            <th>PRIX DE REVIENT </th>
                            <th>INTERET (1%) </th>
                            <th>PRIX DE VENTE </th>
                            <th>CREDIT </th>
                            
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                            {% for detaila in detalimentaires %}
                          <tr>
                            <td>{{ detaila.no }}</td>
                            <td>{{ detaila.description }}</td>
                            <td>{{ detaila.quantite_prod }}</td>
                            <td>{{ detaila.prix_unitaire }}</td>
                            <td>{{ detaila.prix_total }}</td>
                            <td>{{ detaila.frais_transport }}</td>
                            <td>{{ detaila.prix_de_revient }}</td>
                            <td>{{ detaila.prix_de_revient }}/ 100</td>
                            <td>{{ detaila.prix_de_vente }}</td>
                            <td>{{ detaila.codecredit_id }}</td>
                           
                            <td> <a href="/edit_detailproduct/{{ detaila.no }}" class="btn btn-success">Edit</a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- Pagination -->
                    <nav class="mt-4">
                      {% if detalimentaires.has_other_pages %}
                      <ul class="pagination justify-content-left">
                        {% if detalimentaires.has_previous %}
                        <a href="?page= 1 " class="btn btn-outline-primary mb-4" style="width: 69 px; border-radius:1px; border:1px solid #d3d3d3; border-left: 1px;">First</a>
                        <li class="page-item"><a class="page-link" href="?page={{ detalimentaires.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"></li>
                        {% endif %}
                        
                        {% for i in detalimentaires.paginator.page_range %}
                          {% if detalimentaires.number == 1 %}
                          <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                          {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}

                        {% if detalimentaires.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ detalimentaires.next_page_number }}" ><i class="fas fa-angle-double-right"></i></a></li>
                        <a href="?page={{ detalimentaires.paginator.num_pages }}" class="btn btn-outline-primary mb-4" style="width:60px; border-radius:1px; border:1px solid #d3d3d3; border-left: 1px;">Last</a>
                        {% else %}
                        <li class="page-item disabled"></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                    </nav>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
        </div>
    </section>
      <!-- /.content -->
{% endblock main_content %}