{% extends 'hod_template/base_template.html' %}
{% block page_title %} 
Statistique des Cotisations <a href="{% url 'export_statistique_cotisation_csv' %}" class="btn btn-primary">Export to CSV</a>
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"> Details</h3>
                    
                      <div class="card-tools">
                        <form>
                          <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="q" class="form-control float-right" placeholder="Search">
        
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                              <a href="{% url 'statistique_cotisation' %}" class="btn btn-dark" style="margin-left: 2px";><i class="fas fa-sync-alt"></i></a>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>NO MEMBRE</th>
                            <th>Code Membre</th>
                            <th>Nom Membre</th>
                            <th>Montant Caisse Verte</th>
                            <th>Montant Caisse Rouge</th>
                            <th>Montant Fond Urgence</th>
                            <th>Montant Interet</th>
                            <th>Montant Penalite </th>
                            <th>Montant Compte Reel </th>
                         
                          </tr>
                        </thead>
                        <tbody>
                            {% for cotisation in cotisation_info %}  
                          <tr>
                            <td>{{ cotisation.0 }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" disabled="disabled" data-toggle="modal" data-target="#reply_modal">{{ cotisation.1 }}</button>
                            </td> 
                            <td>
                              <button type="button" class="btn btn-primary" disabled="disabled" data-toggle="modal" data-target="#reply_modal">{{ cotisation.2 }}</button>
                          </td>
                            <td>
                              <button type="button" class="btn btn-primary" disabled="disabled" data-toggle="modal" data-target="#reply_modal">{{ cotisation.3 | floatformat:2 }}</button>
                          </td> 
                          <td>
                            <button type="button" class="btn btn-primary" disabled="disabled" data-toggle="modal" data-target="#reply_modal">{{ cotisation.4 | floatformat:2 }}</button>
                        </td>
                          <td>
                            <button type="button" class="btn btn-primary" disabled="disabled" data-toggle="modal" data-target="#reply_modal">{{ cotisation.5 | floatformat:2 }}</button>
                        </td> 
                        <td>
                          <button type="button" class="btn btn-primary" disabled="disabled" data-toggle="modal" data-target="#reply_modal">{{ cotisation.6 | floatformat:2 }}</button>
                      </td> 
                            <td>{{ cotisation.7 | floatformat:2 }}</td>
                            <td><button type="button" class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">{{ cotisation.8 | floatformat:2 }}</button></td>
                          </tr>
                         {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  <!-- Pagination -->
                  <nav class="mt-4">
                    {% if cotisation_info.has_other_pages %}
                    <ul class="pagination justify-content-left">
                      {% if cotisation_info.has_previous %}
                      <a href="?page= 1 " class="btn btn-outline-primary mb-4" style="width: 69 px; border-radius:1px; border:1px solid #d3d3d3; border-left: 1px;">First</a>
                      <li class="page-item"><a class="page-link" href="?page={{ cotisation_info.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                      {% else %}
                      <li class="page-item disabled"></li>
                      {% endif %}
                      
                      {% for i in cotisation_info.paginator.page_range %}
                        {% if cotisation_info.number == 1 %}
                        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}

                      {% if cotisation_info.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ cotisation_info.next_page_number }}" ><i class="fas fa-angle-double-right"></i></a></li>
                      <a href="?page={{ cotisation_info.paginator.num_pages }}" class="btn btn-outline-primary mb-4" style="width:60px; border-radius:1px; border:1px solid #d3d3d3; border-left: 1px;">Last</a>
                      {% else %}
                      <li class="page-item disabled"></li>
                      {% endif %}
                    </ul>
                  {% endif %}
                  </nav>
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
        </div>
    </section>
      <!-- /.content -->
{% endblock main_content %}