{% extends 'membre_template/base_template.html' %}
{% block page_title %} 
Remboursement de mes credits
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
                <!-- general form elements -->
       
                <!-- /.card -->
          <div class="card card-primary">
              <div class="card-header">
                  <h3 class="card_title">  Mes Remboursements</h3>
              </div>
              <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                            <th>NO</th>
                            <th>Date Remboursement</th>
                            <th>No Credit</th>
                            <th>Montant Due</th>
                            <th>Capital a Remb.</th>
                            <th>Interet a Remb</th>
                            <th>Balance</th>
                            <th>Penalite </th>
                            <th>Commentaire </th>
                            <th>Recu Par</th>
                          
                         
                        </tr>
                      </thead>
                      <tbody>
                        {% for remb in rembous %}
                        <tr>
                          <td>{{ remb.id }}</td>
                          <td>{{ remb.date_remb }}</td>
                          <td>{{ remb.codecredit.numero }}</td>
                          <td>{{ remb.montant_a_remb }}</td>
                          <td>{{ remb.capital_remb }}</td>
                          <td>{{ remb.interet_remb }}</td>
                          <td>{{ remb.balance }}</td>
                          <td>{{ remb.penalite }}</td>
                          <td>{{ remb.commentaire }}</td>
                          <td>{{ remb.recu_par }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
            </div>

            </div>
        </div>
    </div>
    </section>
      <!-- /.content -->
{% endblock main_content %}

{% block custom_js %}

{% endblock custom_js%}

