{% extends 'membre_template/base_template.html' %}
{% block page_title %} 
Liste des Credits
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
                <!-- general form elements -->
       
                <!-- /.card -->
          <div class="card card-primary">
              <div class="card-header">
                  <h3 class="card_title">  Mes Credits</h3>
              </div>
              <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>NO</th>
                          <th>Date Credit</th>
                          <th>Nombre de Mois</th>
                          <th>Date Debut</th>
                          <th>Date Fin</th>
                          <th>Montant</th>
                          <th>Interet </th>
                          <th>Commentaire </th>
                          <th>Valider Par</th>
                          <th>Status</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                          {% for credit in credits %}
                        <tr>
                          <td>{{ credit.numero }}</td>
                          <td>{{ credit.date_credit }}</td>
                          <td>{{ credit.nbre_de_mois }}</td>
                          <td>{{ credit.date_debut }}</td>
                          <td>{{ credit.date_fin }}</td>
                          <td>{{ credit.montant_credit }}</td>
                          <td>{{ credit.interet_credit }}</td>
                          <td>{{ credit.commentaire }}</td>
                          <td>{{ credit.valider_par }}</td>
                          <td>
                            {% if credit.credit_status == "En cour" %}
                            <button type="button" class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">En cour..</button>
                            {% else %}
                            <button type="button" class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Termine!</button>
                            {% endif %}
                            <!-- {{ credit.credit_status }} -->
                          </td>
                         
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
            </div>

            </div>
        </div>
    </div>
    </section>
      <!-- /.content -->
{% endblock main_content %}

{% block custom_js %}

{% endblock custom_js%}

